name: stripe_identity_plugin
description: "A Flutter plugin for implementing Stripe Identity Verification in your Flutter applications. This package provides a seamless integration with Stripe's Identity verification service for both Android and iOS platforms."
version: 1.0.0
repository: "https://github.com/jeremiahseun/Stripe-Identity"
homepage: "https://github.com/jeremiahseun/Stripe-Identity"

environment:
  sdk: '>=3.4.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      android:
        package: com.stripe.identity.identity
        pluginClass: StripeIdentityPlugin
      ios:
        pluginClass: StripeIdentityPlugin

topics:
  - stripe
  - identity
  - verification
  - kyc
